.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 90%;
  gap: 30px;
}

.remove {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
}

.remove {
  cursor: pointer;
}

.message {
  font-size: 4rem;
  color: #0080c0;
}